.my{
    color: rgb(50, 100, 192);
}
.about{
    font-weight: 700;
}
.portfolio{
    color:rgb(50, 100, 192); 
}
.recent{
    font-weight: 700;
}
.phillip{
    color: rgb(50, 100, 192);
}
.footer{
    background-color: rgb(36, 35, 35);
    color: white;
}