.my{
    color: rgb(50, 100, 192);
}
.about{
    font-weight: 700;
}
.portfolio{
    color:rgb(50, 100, 192); 
}
.recent{
    font-weight: 700;
}
.footer{
    background-color: rgb(56, 54, 54);
    color: white;
}.back-ground-01{
    background-image: linear-gradient(45deg, rgb(165, 231, 201),rgba(198, 224, 174, 0.92)  );
}
.career{
    line-height: 25px;
}
.back-ground-02{
    background-image: linear-gradient(45deg, rgb(219, 192, 133),rgba(220, 130, 228, 0.92)  );
}
.image{
    margin-top: 200px;
}
.career{
    line-height: 25px;
}
.back-ground-02{
    background-image: linear-gradient(45deg, rgb(219, 192, 133),rgba(220, 130, 228, 0.92)  );
}
.image{
    margin-top: 200px;
}.career{
    line-height: 25px;
}
.back-ground-02{
    background-image: linear-gradient(45deg, rgb(219, 192, 133),rgba(220, 130, 228, 0.92)  );
}
.image{
    margin-top: 200px;
}.career{
    line-height: 25px;
}
.back-ground-02{
    background-image: linear-gradient(45deg, rgb(219, 192, 133),rgba(220, 130, 228, 0.92)  );
}
.image{
    margin-top: 200px;
}.career{
    line-height: 25px;
}
.back-ground-02{
    background-image: linear-gradient(45deg, rgb(219, 192, 133),rgba(220, 130, 228, 0.92)  );
}
.image{
    margin-top: 200px;
}.career{
    line-height: 25px;
}
.back-ground-02{
    background-image: linear-gradient(45deg, rgb(219, 192, 133),rgba(220, 130, 228, 0.92)  );
}
.image{
    margin-top: 200px;
}
